@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Simonetta&display=swap');
    
/*/Main html structure*/
html {
    min-height: 100%;
    position: relative;

}

body {
    font-family: 'Simonetta' ,sans-serif;
    margin: 0;

}

header {
    text-align:center;
    background-color:#B49FCC;
    font-family: 'Irish Grover' , sans-serif;
    overflow: auto;
    margin-bottom: -2px;
}

h2{
    margin: 0;
    padding: 1px;
    line-height: 3;
}

footer {
    
    width: 100vw;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    min-height: 40px;
    position:fixed;
}

/*Game Area*/
.game-area{
    background-color:#52D1DC ;
    text-align: center;
    width:100vw;
    overflow: auto;
    padding: 0px;
    margin: 0;
    height:100vh ;   
}

/*buttons rock/paper/scissors*/
.buttons{
    margin-top:10px;
}
.control{
    display: inline-block;
    color:Black;
    letter-spacing: 1px;
    margin: 3px;
    width: 90px;
    height: 40px;
    border-style: solid;
}

.control:hover{
    cursor: pointer;
    transform: translate3d(0px, -4px, 0px); 
    transition: all 0.25s;

}
/*button colors*/
#rock{
    background-color:#f5a65b ;
}

#paper{
    background-color:#dff2d8;
}

#scissors{
    background-color:#CEC2FF;
}

/*  result of game above scoreboard*/
#result{
    height: 20px;
}
/*scoreboard*/
.score-board{
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    font-family: 'S' ,'sans-serif';
    font-weight:bold;
    position: relative;

}
/* divs which contain (you and computer in scoreboard*/
.badge{

    color:black;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Simonetta', 'sans-serif';
}
/*you and computer text in scoreboard*/
#player-label{
    position:absolute;
    top: 20px;
    left: -25px;
    background: #D7FFAB;
}

#computer-label{
    position:absolute;
    top:20px;
    right:-40px;
    background: #654C4F;
}

/*divs behind the rock paper scissors image*/
.player{
    
    margin: 0 auto;
    margin-right: -4px;
    display: inline-block;
    background-color:#D7FFAB;
    width:50vw;
    height:50%;
    position: relative;    
}

.computer{
    
    margin-right :-4px;
    display: inline-block;
    background-color:#654C4F;
    width:50vw;
    height: 50%;
    position:relative;    
}

/*imgs of all rock paper scissor*/
img{
    width:200px ;
    height:200px ;

    
}
/* id for div that holds the imgs rock paper scissor combined and user and computer choice*/
#user-choice-img{
    width: 300px ;

}
#player-img{
    display: flex;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);    
}
#computer-img{
    display:flex;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
/*
.contest{
    visibility:hidden;
}*/

/* media query for mobile under 500 px wide*/ 
    @media screen and (max-width: 500px){
        body{
            letter-spacing: 1px;
        }

        h2{
            font-size: 65%;
            
        }

        img{
            height: 100px;
            width: 100px;
        }

        #result{
            font-size: 70%;
        }

        #player-img{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #computer-img{
            display:inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
        