@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Simonetta&display=swap');
    
/*/Main html structure*/
html {
    min-height: 100%;
    position: relative;

}
body {
    font-family: 'Simonetta' ,sans-serif;
    margin: 0;

}
header {
    text-align:center;
    background-color:#BBD686;
    font-family: 'Irish Grover' , sans-serif;
}
footer {
    
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-top: 2px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    min-height: 70px;
}

/*Game Area*/
.game-area{
    background-color: #BBD686;
    text-align: center;
    width:100%;
    
    
}
.control{
    display: inline-block;
    color:Black;
    margin: 3px;
    width: 80px;
    height: 40px;
    border-style: solid;   

}
#result{
    height: 20px;
}
.score-board{
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    font-family: 'Oxygen' ,'sans-serif';
    font-weight:bold;
    position: relative;

}

.badge{

    color:black;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Oxygen', 'sans-serif';
}
#player-label{
    position:absolute;
    top: 20px;
    left: -42px;
    background: #dff2d8;
}
#computer-label{
    position:absolute;
    top:20px;
    right:-82px;
    background: #FF36AB;
}

.player{
    margin: 0;
    display: inline-block;
    background-color:#DFF2D8;
    width: 49%;
    
}

.computer{
    display: inline-block;
    background-color:#ff36ab;
    width: 49%;
    
}
#rock{
    background-color:#f5a65b ;
}
#rock:hover{
    cursor: pointer;
}
#paper{
    background-color:#dff2d8;
}
#paper:hover{
    cursor: pointer;
}
#scissors{
    background-color:#CEC2FF;
}
#scissors:hover{
    cursor: pointer;
}
img{
    width:200px ;
    height:200px ;

    
}
#player-img{
    display: inline-block;
    
}
#computer-img{
    display:inline-block;
    

}
/* media query for mobile under 500 px wide*/ 
    @media screen and (max-width: 400px){
        div h2{
            font-size: 95%;
        }
        img{
            height: 200px;
            width: 200px;
        }
    }    
    
            
                    
            

        

        
            
        
        

        
    


