@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Simonetta&display=swap');
    
/*/Main html structure*/
html {
    max-height: 100%;
    position: relative;

}

header {
    text-align:center;
    background-color:#B49FCC;
    font-family: 'Irish Grover' , sans-serif;
    overflow: auto;
    width:100vw;
}

h2{
    margin: 0;
    padding: 1px;
    line-height: 3;
}
body {
    font-family: 'Simonetta' ,sans-serif;
    
}

footer {
    
    width: 100vw;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: fixed;
    
    
}

/*Game Area*/
.game-area{
    background-color:#52D1DC ;
    text-align: center;
    width: 100vw;
    overflow: auto;
    padding: 0px;
    margin: 0;
    height:100vh ;   
}

/*buttons rock/paper/scissors*/
.buttons{
    margin-top:10px;
}
.control{
    display: inline-block;
    color: #000;
    letter-spacing: 1px;
    margin: 3px;
    width: 90px;
    height: 40px;
    border-style: solid;
}

.control:hover{
    cursor: pointer;
    transform: translate3d(0px, -4px, 0px); 
    transition: all 0.25s;

}
/*Footer button (rules)*/

.hidden {
    display: none;
}

.footer-rules{
display: inline-block;
    color: #000;
    letter-spacing: 1px;
    margin: 3px;
    width: 90px;
    height: 40px;
    border-style: solid;
}
.footer-rules:hover{
    cursor: pointer;
    transform: translate3d(0px, -4px, 0px); 
    transition: all 0.25s;
}
#rules-text{
    text-align: center;    
}

/*button colors*/

#rock{
    background-color:#f5a65b ;
}

#paper{
    background-color:#dff2d8;
}

#scissors{
    background-color:#CEC2FF;
}

#lizard{
    background-color:#4C934C;
}

#spock{
    background-color:#DB504A;
}
#rules{
    background-color:#52D1DC;
}

/*  result of game above scoreboard*/
#result{
    height: 20px;
}
/*scoreboard*/
.score-board{
    border: 2px solid #000;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 36px;
    font-family: 'Simonetta' ,'sans-serif';
    position: relative;

}
/* divs which contain (you and computer in scoreboard*/

.badge{

    color:#000;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Simonetta', 'sans-serif';
}

/*User and computer text in scoreboard*/

#player-label{
    position:absolute;
    top: 20px;
    left: -25px;
    background: #D7FFAB;
}

#computer-label{
    position:absolute;
    top:20px;
    right:-40px;
    background: #654C4F;
}

/*Divs behind the rock paper scissors image*/
.player{
    
    margin-right: -5px;
    display: inline-block;
    background-color:#D7FFAB;
    width: 40vw;
    height:50%;
    position: relative;    
}
.computer{
    
    margin-left: 0;
    display: inline-block;
    background-color:#654C4F;
    width: 40vw;
    height: 50%;
    position:relative;    
}

/*Images of all rock paper scissor*/


img{
    width:17vw ;
    height:17vw ;       
}


/* Id for div that holds the imgs rock paper scissor combined and user and computer choice*/


#player-img{
    display: flex;
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);    

}
#computer-img{
    display:flex;
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#house-choice-img{
    visibility:hidden;
}

#user-choice-img{
    visibility: hidden;
}


/*media query for screen 1000px wide*/

    @media screen and (max-width: 1000px){
        #player-img{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
        }

        #computer-img{
            display:inline-block;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
        }
    }


/* media query for mobile under 550 px wide*/ 

    @media screen and (max-width: 550px){
        body{
            letter-spacing: 1px;
        }

        h2{
            font-size: 55%;
            
        }
        /*Footer Rules image*/
        #rules-text{
            text-align: center;    
        }

        #result{
            font-size: 20%;
        }

        #player-img{
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
        }

        #computer-img{
            display:inline-block;
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
        }
    }

    
        